@using RestaurantWebUI.Dtos.ServiceDtos
@model List<ResultServiceDto>

@{
    if (Model == null || !Model.Any())
    {
        <section id="why-us" class="why-us section light-background">
            <div class="container section-title" data-aos="fade-up">
                <h3>Neden Biz ?</h3>
                <p>Henüz sunulacak servis bulunmuyor.</p>
            </div>
        </section>
        return;
    }
}
<section id="why-us" class="why-us section light-background">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                @await Component.InvokeAsync("WhyChooseComponentPartial")
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">
                    @foreach (ResultServiceDto item in Model)
                    {
                        string iconClass = item.ServiceIconUrl;
                        <div class="col-xl-4">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="@iconClass"></i>
                                <h4>@item.ServiceTitle</h4>
                                <p>@item.ServiceDescription</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>