@model string?

@{
    if (Model == null)
    {
        <div class="company-name">
            Şirket bilgileri yüklenemedi.
        </div>
        return;
    }
    string companyName = string.IsNullOrWhiteSpace(Model)
        ? "Site Adı Girilmemiş"
        : Model;
}
<div class="company-name" data-aos="fade-up" data-aos-delay="100">
    <h1>@companyName</h1>
</div>