@model byte[]

@{
    string placeholder = Url.Content("~/userThema/assets/img/gallery/gallery-7.jpg");
    string reservationImgSrc = placeholder;
    if (Model != null && Model.Length > 0)
    {
        try
        {
            reservationImgSrc = $"data:image/jpeg;base64,{Convert.ToBase64String(Model)}";
        }
        catch
        {
            reservationImgSrc = placeholder;
        }
    }
}
<div class="col-lg-4 reservation-img"
     style="background-image: url('@reservationImgSrc');"
     data-aos="fade-up"
     data-aos-delay="200">
</div>